chromadb==0.4.22
langchain==0.1.4
pypdf==4.0.1
python-dotenv==1.0.0
ibm-watson==7.0.1
sentence-transformers==2.2.2
ibm-watson-machine-learning==1.0.342
transformers==4.34.0
notebook==7.0.6
jupyterhub==4.0.2
